<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nana.bookserver">

    <application>
        <activity
            android:name=".BookActivity"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote"/>

        <!--MessengerService在独立的进程中-->
        <service
            android:name=".aidl.MessengerService"
            android:process=":remote"/>

    </application>

</manifest>