<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nana.bookserver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--自定义权限-->
    <permission
        android:name="com.nana.bookserver.permission.ACCESS_BOOK_SERVER"
        android:process="normal"/>
    <application>
        <activity
            android:name=".BookActivity"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote"/>

        <!--MessengerService在独立的进程中-->
        <service
            android:name=".messenger.MessengerService"
            android:process=":remote"/>

        <!--android:authorities是Provider的唯一标示，值必须唯一，外部应用通过这个属性访问BookProvider-->
        <!--android:permission 读写权限，还可以设置android：writePermission\andoid:readPermission,
        外界应用权限必须设置相应的权限；-->
        <!--android:process设置在单独的进程中-->
        <provider
            android:name="com.nana.bookserver.provider.BookProvider"
            android:authorities="com.nana.bookserver.provider.BookProvider"
            android:permission="com.nana.bookclient.PROVIDER"
            android:process=":provider"/>

        <service
            android:name=".socket.TCPServerService"
            android:process=":remote"/>


    </application>

</manifest>